 body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

span{
      color: midnightblue;
      position: relative;
}

footer {
  text-align: right;
  color: midnightblue;
}


@media (max-width:680px)
{

  .card{
    display: block;
  }


  .main  h1{
      font-size: 42pt;
      text-align: center;
  }

  .logo{
    height: 18px;
    width: 100px;
  }

  .card{
    margin-bottom: 20px;
  }

  .tile-image{
    width: 1000px;
  }
}

 @media (min-width:681px)/*width from 801px and more*/
{
  body{
       
  }

  .tile-image{
    float: left;
    margin-right: 40px;
    height: 200px;
  }

  .left{
    float: left;
    width: 45%;
    /* width: 670px; */
  }

.right{
  float: right;
  width: 45%;
  /* width: 670px; */
}

/* .card{
  width: 45%;
} */

}





 
